__pycache__
*.egg-info
build
run_scripts
Datasets/TSB-AD-Datasets
TSB_AD/models/NormA.py
TSB_AD/models/Series2Graph.py

eval/
figures/
logs/
weights/
TSB_AD/snn/tests
Datasets/TSB-AD-M
Datasets/TSB-AD-U
results/
scores/
wandb/
analyses/MNIST/
analyses/izhikevich/
analyses/leaderboard/
analyses/legacy/
analyses/feature_importance/
analyses/performance/
tests/